.grid-element {
    background-image: url("../assets/2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid 1px rgb(1, 17, 9);
    padding: 0;
    margin: 0;
    background-color: #573636;
}

.grassClass {
    background-position:center;
    background-image: url("../assets/grass.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(156, 193, 228);
}

/* 
#grid:hover:after{
    content: "\1F333";
} */

.treeClass {
   background-position:center;
    background-image: url("../assets/treebis.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(156, 193, 228);

}

.hiveClass {
    background-position:center;
    background-image: url("../assets/hive2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(156, 193, 228);
}

#a {
    grid-column: 7 / 8;
    grid-row: 4 / 5 ;
}

#grid {
    height: 100%;
    width: 100%;
}