.grid-element {
    border: solid 3px black;
    padding: 0;
    margin: 0;
    background-color: brown;
}

.grassClass {
    background-color: green;
}

/* 
#grid:hover:after{
    content: "\1F333";
} */

.treeClass {
    background-image: url("https://s1.qwant.com/thumbr/0x380/a/8/65ccf337a710515f2a6c321b161894bce7bb380b454adfa398ed4f1c6ab290/tree-promo.jpg?u=http%3A%2F%2Fwww.takepart.com%2Fsites%2Fdefault%2Ffiles%2Ftree-promo.jpg&q=0&b=1&p=0&a=0");
    background-color: green;
}

.hiveClass {
    background-color: yellow;
}

#a {
    grid-column: 7 / 8;
    grid-row: 4 / 5 ;
}

#grid {
    height: 100%;
    width: 100%;
}