.gameboard {
    display:grid;
    grid-template-columns: repeat(10, minmax(100px ,1fr));
    grid-template-rows: repeat(10, minmax(100px ,1fr));
    /* min-width: 50rem;
    min-height: 10rem; */
}

.grid-element{
    border: solid 3px black;
    padding: 0;
    margin: 0;
    background-color: brown;
}

#a {
    grid-column: 7 / 8;
    grid-row: 4 / 5 ;
}

#menfou {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }