.gameboard {
    display:grid;
    grid-template-columns: repeat(3, minmax(100px ,1fr));
    grid-template-rows: repeat(10, minmax(100px ,1fr));
    padding-bottom: 10px;
    margin-bottom: 130px;
    /* min-width: 50rem;
    min-height: 10rem; */
}

.footer{
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;

}

.button {
   
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid #1d4b1f;
    
    box-shadow: 0 9px #999;
    float: left;    
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .rules {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color:rgb(88, 68, 16);
    background-color: whitesmoke;
    border-radius: 15%;
    padding: 15px;
    border:solid rgb(54, 6, 42);
  }

  .rules:hover{
    color: white;
    background-color: rgb(240, 201, 104);
  }
