@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

h1 {
    font-family: 'Cardo', serif;
    font-size: 1.5em;
    padding-bottom: 15px;
    padding-top: 15px;
    color: rgb(13, 83, 6);;
}

p{
    font-family: 'Cardo', serif;
    padding-bottom: 15px;
    text-indent: 20px;
}

.homeImg {
    align-content: center;
    width: 80%;
    padding-bottom: 15px;
}

.definitionContainer {
    margin:100px;
    box-shadow: 0 0 1em  rgb(0, 0, 0);
}