@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');


* {
  text-align: center;
  list-style: none;
  text-decoration: none;
  margin: 0;
  font-size: 1.1rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-bottom: thick double rgb(180, 141, 41);

}
.logo {
  max-width: 10%;
}

.current {
  font-size: 1.4rem;
  color: blue;
}

.link {
  transition: font-size 0.4s;
  font-family: 'Bodoni Moda', serif;
  color: rgb(77, 8, 77);
  padding-top: 2%;
}

.link:hover {
  color: rgb(180, 141, 41);
}
.link:active {
  color: darkolivegreen;
}
